<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.steelejr.pm.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.steelejr.pm.rcp.PatientPerspectiveFactory"
            icon="icons/patients.gif"
            id="com.steelejr.pm.rcp.patient.perspective"
            name="Patients">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.steelejr.pm.rcp.application"
            name="Practice Management">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Practice Management">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="This is my project about dialog.">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.steelejr.pm.rcp.splashHandlers.BrowserSplashHandler"
            id="com.steelejr.pm.rcp.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="com.steelejr.pm.rcp.splashHandlers.ExtensibleSplashHandler"
            id="com.steelejr.pm.rcp.splashHandlers.extensible">
      </splashHandler>
      <splashHandler
            class="com.steelejr.pm.rcp.splashHandlers.InteractiveSplashHandler"
            id="com.steelejr.pm.rcp.splashHandlers.interactive">
      </splashHandler>
   </extension>
   <extension
         point="com.steelejr.pm.rcp.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>

</plugin>
